body{
    background-color: black;
}
.container{
    height: 100vh;
    
    background-image: url('F:/Programs/Visual Studio Code/Website Designs/Cat API/img/hello.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.3;
}