body {
    font-family: Arial, sans-serif;
    background-color: black;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.search-bar input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#result {
    margin: 20px 30px;
    padding: 10px;
    border: 1px solid orange;
    border-radius: 5px;
}

.preserve-formatting {
    color: white;
  }

