@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}
body{
  background-color: black;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  font-style: bold;
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 40px;
  color: rgb(210, 105, 0);
}

#catImage {
  max-height: 380px;
  border: 0;
  border-radius: 20px;
}

#breedOptions {
  margin-top: 20px;
  font-size: 20px;
}

.button-option {
  margin: 5px;
  border: 0;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 24px;
  font-weight: 700;
  color: black;
  background-color: rgb(0, 200, 255);
  cursor: pointer;
}
.button-option:hover{
  opacity: 0.6;
}

#resultText {
  margin-top: 20px;
  font-size: 30px;
  color: aliceblue;
}

#newCatButton {
  margin-top: 10px;
  padding: 10px 15px;
  border: 0;
  border-radius: 15px;
  font-size: 24px;
  font-weight: 600;
  background-color:rgb(210, 105, 0);
  color: aliceblue;
  cursor: pointer;
}
#newCatButton:hover{
  background-color: rgb(170, 60, 0);
  transform: translateY(-5px);
}

.correctOption{
  background-color: green;
}
.wrongOption{
  background-color: red;
}


@media screen and (max-width:400px){
  h1{
    font-size:35px;
  }
  #catImage {
    max-width: 350px;
  }
  .button-option {
    font-size: 12px;
    padding: 5px 5px;
  }
  #resultText{
    font-size: 27px;
  }
}   
  
