.container{
    height: 100vh;
}
.zero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    margin-left: 50px;
}
.welcome{
    margin: 0px 0px 10px 0px;
    font-size: 40px;
    color: rgb(100, 100, 100);
}
.title{
    font-size: 80px;
    font-weight: 800;
    color: rgb(210, 105, 0);
}
.subtitle{
    margin: 10px 0px 60px 0px;
    font-size: 40px;
    color: rgb(158, 165, 172);
}
.content button{
    color: black;
    background-color: rgb(0, 200, 255);
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 15px;
}
.content button:hover{
    color: aliceblue;
    position: relative;
    top: -5px;
}
.lottie{
    height: 500px;
    width: 500px;
}

.one{
    height: 120vh;
    background-image: url(../img/hello.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: color;
}
.one p{
    color: aliceblue;
}

.two{
    height: 120vh;
    background-color: rgb(40, 40, 40);
}
.two p{
    color: aliceblue;
}

.three{
    height: 120vh;
    background-color: rgb(0, 0, 0);
}
.three p{
    color: aliceblue;
}
.three video{
    width: 40%;
}

footer{
    background-color: rgb(0, 200, 255);
    padding: 20px;
    text-align: right;
    font-family: sans-serif;
}
table{
    width: 70%;
    margin-left: 30px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}
th{
    margin-bottom: 30px;
    font-size: 20px;
}
td{
    margin: 10px;
}
