.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading{
    color: aliceblue;
    font-size: 28px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
}
table{
    height: 50%;
    border-spacing: 10px;
    text-align: center;
}

td{
    height: 120px;
    width: 120px;
    border-radius: 20px;
    margin: 10px;
    background-color: rgb(0, 200, 250);
    box-shadow: 5px 5px 5px rgb(0, 120, 150);
}
.redGlow{
    box-shadow: 5px 5px 5px rgb(150, 0, 0);
}
.greenGlow{
    box-shadow: 5px 5px 5px rgb(0, 150, 0);
}

table button{
    padding: 60px;
    border: 0;
    cursor: pointer;
    background-image: url(../img/hello.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.invisible{
    opacity: 0;
}
.hide{
    display: none;
}

img{
    width: 100%;
    height: 100%;
    display: none;
}
.startbtn{
    margin-top: 10px;
    color: aliceblue;
    background-color: rgb(210, 105, 0);
    font-size: 24px;
    font-weight: 600;
    padding: 10px 5px;
    border: 0;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(160, 80, 0);
    cursor: pointer;
}
.startbtn:hover{
    color: white;
    background-color: rgb(160, 80, 0);
}
.timer{
    color: aliceblue;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
}